<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Chat Room</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
</head>
<body class="chat-body">
  <header>
    <div>Chat Room</div>
    <div id="roomCode" class="room-ttl hidden"></div>
    <div id="roomTTL" class="room-ttl hidden"></div>
  </header>
  <div id="messages"></div>

  <div class="chat-input">
    <input id="msg" type="text" placeholder="Type a message..." />
    <button id="sendBtn">Send</button>
  </div>

  <script src="/static/js/chat.js"></script>
</body>
</html>
